alien.blb
alien.blc
alien.bli
alien.ulx
.alien.inf.swp
*.o
*.a
Empaquetar/*.dsc
Empaquetar/*.tar.gz
Empaquetar/*.deb
Empaquetar/*.buildinfo
Empaquetar/*.changes
Empaquetar/Alien_EE_*.zip
Empaquetar/*/debian/files
Empaquetar/*/debian/.debhelper/
Empaquetar/*/debian/alphaaventuras-alien-ee.substvars
Empaquetar/*/debian/alphaaventuras-alien-ee/
!Empaquetar/*/usr/share/games/alphaaventuras-alien-ee/pdf-viewer-launcher
Empaquetar/*/usr/share/games/alphaaventuras-alien-ee/*
!Empaquetar/*/usr/share/doc/alphaaventuras-alien-ee/COPYING
Empaquetar/*/usr/share/doc/alphaaventuras-alien-ee/*
