
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=A·L·I·E·N: The Adventure - Special Edition
Type=Application
Terminal=false
Name[es_ES]=A·L·I·E·N: La aventura - Edición Especial
Exec=/usr/games/alphaaventuras-alien-ee
Categories=Game;AdventureGame;Alien;
Icon=/usr/share/pixmaps/alphaaventuras-alien-ee/egg-icon.png
Comment=Play A·L·I·E·N: The Adventure - Special Edition
Comment[es]=Jugar a A·L·I·E·N: La aventura - Edición Especial
